

h1 {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}

p {
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 100%);
}

/* navigation bar code  */
.navbar {
    overflow: hidden;
    background-color: #282828;
}

.navbar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #4f4d4d;
    color: rgb(50, 50, 50);
}

/* Content code  */
.header {
    justify-content: center;
    align-items: center;
    display: flex;
}

.header img {
    width: 100%;
    height: 60%;
}

.text-section {
 
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}